body {
  position: relative;
}

.scoreboard {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.enemies {
  background-image: url(asteroid.png);
  width: 200px;
  height: 200px;
}