@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body {
  position: relative;
}

.scoreboard {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.enemies {
  background-image: url(asteroid.png);
  width: 200px;
  height: 200px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}